* {
	font-family: "Courier New", monospace;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	background-color: darkgray;
	margin-bottom: 4px;
	text-align: center;
	padding: 16px;
}

.nav-link {
	margin-left: auto;
	margin-right: auto;
	color: antiquewhite;
}

section {
	text-align: center;
}

#profile {
	height: 300px;
	width: 300px;
	margin-top: auto;
	margin-bottom: auto;
}

#name {
	margin-top: 4px;
	margin-bottom: 4px;
}

#title {
	margin-top: 4px;
	margin-bottom: 4px;
}

#intro {
	width: 200px;
	margin: auto;
}

#Tools {
	text-align: center;
	margin-top: 200px;
	margin-bottom: 200px;
}

#tools-title {
	margin-bottom: 40px;
}

.tools-img {
	height: 100px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 200px;
}

#Projects {
	text-align: center;

.card {
	background-color: darkgray;
	height: 400px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.card-img {
	height: 300px;
	width: 300px;
}

footer {
	text-align: center;
	padding: 16px;
	margin-top: 4px;
	background-color: darkgray;
}